# .gitignore

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment (uncomment the line below if your virtual environment is named .venv)
# .venv/

# Pipenv files (uncomment the lines below if you're not using Pipenv)
# Pipfile
# Pipfile.lock

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
